{
	order rate_limit before basicauth
}

https://{$HOST_DOMAIN} {
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		Access-Control-Allow-Headers "Authorization, Content-Type"
	}

	@auth_paths {
		path /admin/login/ /auth
	}
	handle @auth_paths {
		rate_limit {
			zone auth_zone {
				key {remote_host}
				events 10
				window 1m
			}
		}
		reverse_proxy card:8000
	}

	@api_paths {
		path /create /payinvoice /addinvoice /ln /cb
	}
	handle @api_paths {
		rate_limit {
			zone api_zone {
				key {remote_host}
				events 30
				window 1m
			}
		}
		reverse_proxy card:8000
	}

	handle {
		encode zstd
		reverse_proxy card:8000
	}
}
