{
	order rate_limit before basicauth
}

https://{$HOST_DOMAIN} {
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Credentials true
		Access-Control-Allow-Methods *
		Access-Control-Allow-Headers *
	}

	rate_limit {
		zone auth_zone {
			key {remote_host}
			events 10
			window 1m
		}
	}

	@auth_paths {
		path /admin/login/ /auth
	}
	handle @auth_paths {
		rate_limit {
			zone auth_zone
		}
		reverse_proxy card:8000
	}

	handle {
		encode zstd
		reverse_proxy card:8000
	}
}
