services:
  phoenix:
    container_name: phoenix
    image: acinq/phoenixd:0.7.2
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
    volumes:
      - phoenix_data:/phoenix/.phoenix
    networks:
      - hubnet
  card:
    image: boltcard/card:latest
    container_name: card
    restart: unless-stopped
    build: ./docker/card
    env_file: .env
    environment:
      - GOMEMLIMIT=100MiB
    develop:
      watch:
        - path: ./docker/card
          action: rebuild
    deploy:
      resources:
        limits:
          memory: 128M
    depends_on:
      - phoenix
      - webproxy
    healthcheck:
      test: ["CMD", "curl", "-fsS", "--head", "http://localhost:8000/"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    volumes:
      - type: volume
        source: phoenix_data
        target: /root/.phoenix
        read_only: true
      - type: volume
        source: card_data
        target: /card_data
    networks:
      - hubnet
  webproxy:
    container_name: webproxy
    build: ./docker/webproxy
    restart: unless-stopped
    env_file: .env
    deploy:
      resources:
        limits:
          memory: 128M
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - hubnet
networks:
  hubnet:
volumes:
  phoenix_data:
  caddy_data:
  caddy_config:
  card_data:
