<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/simple.css">
    <title>Bolt Card Hub</title>
</head>

<body>
    <header>
        <nav>
            <a href="/admin/">Dashboard</a>
            <a href="/admin/phoenix/">Phoenix</a>
            <a href="/admin/cards/">Cards</a>
            <a href="/admin/settings/">Settings</a>
            <a href="/admin/database/">Database</a>
            <a href="/admin/about/">About</a>
            <a href="/admin/login/">Logout</a>
        </nav>
    </header>

    <main>
        <h1>Dashboard</h1>

        <h2>Overview</h2>
        <table>
            <tbody>
                <tr>
                    <td>number of cards</td>
                    <td>{{.NumCards}}</td>
                </tr>
            </tbody>
        </table>

        <h2>Top 10 Cards by Balance</h2>
        {{if .TopCards}}
        <table>
            <thead>
                <tr>
                    <th>Card ID</th>
                    <th>Note</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {{range .TopCards}}
                <tr>
                    <td>{{.CardId}}</td>
                    <td>{{.Note}}</td>
                    <td>{{.BalanceSats}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        {{else}}
        <p>No cards found.</p>
        {{end}}

    </main>

    <footer></footer>
</body>

</html>