<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/simple.css">
    <title>Bolt Card Hub</title>
</head>

<body>
    <header>
        <nav>
            <a href="/admin/">Dashboard</a>
            <a href="/admin/phoenix/">Phoenix</a>
            <a href="/admin/cards/">Cards</a>
            <a href="/admin/settings/">Settings</a>
            <a href="/admin/about/">About</a>
            <a href="/admin/login/">Logout</a>
        </nav>
    </header>

    <main>
        <h1>Phoenix</h1>

        <h2>Balance</h2>
        <table>
            <tbody>
                <tr>
                    <td>balance</td>
                    <td>{{.Balance}}</td>
                </tr>
                <tr>
                    <td>fee credit</td>
                    <td>{{.FeeCredit}}</td>
                </tr>
            </tbody>
        </table>

        <h2>Channels</h2>
        {{if .Channels}}
        <table>
            <thead>
                <tr>
                    <th>state</th>
                    <th>inbound liquidity</th>
                    <th>outbound liquidity</th>
                </tr>
            </thead>
            <tbody>
                {{range .Channels}}
                <tr>
                    <td>{{.State}}</td>
                    <td>{{.InboundLiquid}}</td>
                    <td>{{.Balance}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        {{else}}
        <p>No channels found.</p>
        {{end}}

        <h2>Load Sats</h2>
        <img alt="Bolt 12 Offer QR code" src="data:image/png;base64,{{.OfferQrPngEncoded}}" />

    </main>

    <footer></footer>
</body>

</html>